@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Roboto:wght@100;300;400&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: aliceblue;
  font-family: 'Roboto', sans-serif;
  background-color: #1f1d2b;
}
a {
  color: inherit;
  text-decoration: none;
}
nav {

  width: 20%;
  background-color: #1f1d2b;
  height: 100vh;
  border-style: groove;
  border-top: #f6f6f6;
  border-bottom: #f6f6f6;
  border-left: #f6f6f6;
  position: fixed;

}

img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

nav div a {
  display: flex;
  padding: 1rem;
  font-size: 20px;

}

.boxProducts {
  width: 80%;
  background-color: #1f1d2b;
  height: 100vh;

}


.products {
  color: #dfdfdf;
}

/* Products.css */
.products {
  border-collapse: collapse;
  width: 90%;
}

.products th {
  background-color: #f14aa0;
  border: 1px solid #6756f7;
  color: white;
  font-weight: bold;
  padding: 12px;
  text-align: left;
}

.products td {
  border: 1px solid #6756f7;
  padding: 12px;
}

.products tbody tr:nth-child(even) {
  background-color: #3a3434;
}

.products tbody tr:hover {
  background-color: #9853c0;
}






button {
  background-color: #251f4b;
  color: #dfdfdf;
  border: 1px solid #423e62;
  border-radius: 5px;
  padding: 10px;
  margin: 2px;

}

button:hover {
  background-color: #f14aa0;

}